* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Noto Sans', sans-serif;
}

.main {
    background-color: #fff;
    display: flex;
    width: 95%;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
}

.item {
    max-height: 265px;
    max-width: 490px;
    width: calc(95vw / 2 - 10px);
    height: calc(95vw / 2 / 16 * 9);
    background-color: dodgerblue;
    /*margin: 5px;*/
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.heading{
    font-size: 50px;
    text-align: center;
    width: 100%;
    padding:30px 0;
}
.img_link{
    margin: 5px;
    display: block;
    opacity: 0.65;
    transition: opacity 0.5s ease,transform 0.5s ease-out,box-shadow 0.3s ease-out;
    
}
.img_link:hover{
    opacity: 1;
    transform: scale(1.2)rotate(-2deg);
    z-index: 10;
    box-shadow: 0 0 100px 30px rgba(0,0,0,0.4);
}

.author{
    color: #7C3030;
    text-decoration: none;
    font-size: 30px;
}

.link-wrapper{
    padding:30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 768px){
    .item{
        max-width: initial;
        max-height: initial;
        height: calc(95vw / 16 * 9)
        width:95vw;
    }
    .img_link{
        margin: 5px 0;
  
    }
}

@media all and(min-width: 1200px){
     .img_link hover {
        opacity: 1;
        transform: scale(1.2) rotate(-2deg)
        box-shadow: 0 0 100px 30px rgba(0,0,0,0.4);
     }

}